body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */

#home {
  background-color:  #7600bc;
  padding-bottom: 1cm;
  margin-left:-1cm;
  margin-right:-1cm;
  margin-top:-1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
 }

.topmenu {
  color: lightgray;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration:none;
}

.topmenu:hover {
  color: white;
  /* Add the styles here */
}

/* Menu Bar Styling */
.menu-bar {
  text-align: center;
  background-color: #f4f4f4; /* Light background color */
  padding: 10px 0;
  border-top: 2px solid #333; /* Border below the heading */
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-list li {
  display: inline;
  margin: 0 20px;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.menu-list li a:hover {
  background-color: #333;
  color: white;
}


.topdiv {
  float: right;
  padding-right: 1cm;
}

.profile_name {
  float: left;
  font-size: 45px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 2cm;
  color: #fff;
  /* Add the styles here */
}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width:25px;
  margin-right: 10px;
  float:left;
}


/* Buttons */

button {
  background-color: #7600bc;
  border: 4px solid #7600bc;
  color: #ffffff;
  display: block;
  border-radius: 7px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: #63009d;
  border: 4px solid #63009d;
  color: #ffffff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.task_added
{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  position: relative;
  bottom: 130px;
  left: 50px;
  font-weight: 100;
}

